# Виртуальное окружение
venv
env
__pycache__
.pyc

# База данных (не копируем, создадим заново)
.db
.db-journal
.db-shm
.db-wal

# Системные файлы
.git
.gitignore
README.md
.DS_Store

# Переменные окружения (важно! не копируем)
.env

# Логи
.log

# Бэкапы
backups

# Файлы IDE
.vscode
.idea
.swp
.swo

# Временные файлы
.tmp
.temp
.bak